*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "result content__details";
  align-items: end;
  width: 1140px;
  margin: 133px 3px 133px 30px;
}

.result {
  grid-area: result;
  width: 711px;
  height: 456px;
  margin: 78px 30px 0px 0px;
}

.content__details {
  grid-area: content__details;
  width: 100%;
  height: 534px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  width: 711px;
  height: 54px;
}

.content__list-container {
  width: 399px;
  max-height: 298px;
  overflow-y: auto;
  margin: 26px 0px 0px 0px;
  position: relative;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin: 0px 0px 16px 0px;
  position: relative;
}

/* Еще раз посмотреть в описаниях object-fit */
.result__video {
  position: absolute;
  object-fit: contain;
}

.content__list-item {
  margin: 0px 0px 30px 2px;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 50%;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 2px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 75px;
  line-height: 94%;
  margin-bottom: 0px 140px 26px 0px;
  text-transform: uppercase;
}

.content__accent {
  opacity: 10%;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30;
  text-transform: uppercase;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  line-height: 100%;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18;
  font-weight: normal;
  text-wrap: nowrap;
  line-height: 16.2px;
  letter-spacing: 0px;
  line-clamp: initial;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 5px;
  height: 22px;
  min-width: 212px;
  justify-content: space-between;
}

.search-form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.search-form__fieldset:has(.search-form__pseudo-checkbox) {
  margin-left: -2px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  margin-top: 5px;
  cursor: pointer;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #fff;
  border: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  min-width: 225px;
  appearance: none;
}

/* Еще раз посмотреть в описаниях */
.search-form__textfield:hover {
  text-decoration: underline;
  text-decoration-color: #1b1919;
}

.search-form__textfield:focus {
  outline: none;
}

/* Еще раз посмотреть в описаниях */
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__label-text {
  min-width: 22px;
  min-height: 35px;
  margin-left: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  justify-content: center;
  align-items: center;
}

.search-form__label:has(:checked) .search-form__pseudo-checkbox::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button {
  height: 34px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: 18px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: bold;
  align-self: end;
  cursor: pointer;
}

.search-form__submit-button {
  width: 194px;
  align-items: flex-end;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0%;
}

.more-button {
  width: 100%;
}

.search-form__submit-button:focus {
  outline: 0;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.more-button:focus {
  outline: 0;
}

.content__list-item {
  display: block;
  min-height: none;
}

.content__list {
  margin-right: 3px;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__card-link_current:focus {
  outline: 0px;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
